section {
    padding-top: 70px;
    top: 0;
}
#about {
    background-color: #E6DDC4;
}

#project {
    background-color: #B4C6A6;
}

footer {
    padding: 0 4px 5px 0;
}

footer a img {
    padding-left: 2px;
    transition: .3s;
}

footer a img:hover {
    transform: scale(1.2);
}